@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/*-----------------------------------------------Colors*/
.bg-header {
    background-color: #595F78;
}

.bg-home {
    background-color: #9E0000;
}

.bg-about {
    background-color: #4FB10F;
}

.bg-contact {
    background-color: #6F07AB;
}

.bg-download {
    background-color: #4E7697;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #009CBB ;
}

.top-section {
    background-color: #DADDE0;
}

.mid-section {
    background-color: #fff;
}

.bottom-section {
    background-color: #DADDE0;
}

.footer-bar {
    color: #F3E9D9;
}

.footer-links a {
    color: #F3E9D9;
}

.footer-links a:hover {
    color: #009CBB;
}

.socials a {
    color: #F3E9D9;
}

.socials a:hover {
    color: #009CBB ;
}

/*-----------------------------------------------Header*/

.header-bar {
    min-height: 20vw;
    max-height: 20vh;
}

.col-4 {
    max-height: 20vw;
    min-width: 20vw;
    max-width: 20vw;
    margin: auto 1vw auto 1vw;
}
.profilePic {
    background: url("../images/profileImg_cropped.jpg");
    border-radius: 50%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120%;
    min-width: 20vmax;
    max-width: 20vmax;
    min-height: 20vmax;
    max-height: 20vmax;

    animation: imagefade;
    animation-duration: 3s;
    animation-fill-mode: initial;
}

.heading {}

.name-title-row { 
    margin: auto 1vw auto 1vw;
    height: 11vmax;
}

.name-title {
}

.name-title h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-size: 5vw;
    color: #F3E9D9;
    letter-spacing: 10px;
}

#name {
    animation: text-expand;
    animation-duration: 5s;
    animation-fill-mode: initial;
}

#title {
    animation: text-expand2;
    animation-duration: 8s;
    animation-fill-mode: initial;
}

.name-title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.8vw;
    color: #F3E9D9;
}

.nav-row {
    margin: auto 1vw auto 1vw;
}

/*-----------------------------------------------Navbar*/

.navbar {
    padding: 0;
    margin: auto auto;
    width: 100%;
    z-index: 99;
}

.navbar-toggler {
    padding: 0;
    margin: 0;
    border: 0;
}

.navbar-toggler-icon {
    background-color: #08BA19;
    font-size: 4vh;
}

#navbarList {
    position: absolute;
    width: 100%;
    height: 9vmax;
}

.navbar-nav {
    height: 100%;
}

.navbar-nav .list-inline-item {
    margin: 0;
}


.navbar-nav .col-md-3 {
    padding: 0;
}

.navbar-nav li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.5vmax;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
}


.icon {
    font-size: 3vh;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F3E9D9;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2vmax;
    height: 9vmax;
}

/*-----------------------------------------------Section*/
#personal-info {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: #2F3B64;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 3.8vmax;
    font-weight: 200;
    color: #333745;
    text-align: center;
}

.h3-divider {
    background-color: #333745;
    width: 15%;
    height: 2%;
}

.top-section {}

.left-info {
    padding: 0;
}

.right-info {
    padding: 0;
}

.key {
    display: inline-block;
    width: 30%;
    text-transform: uppercase;
    padding: 1vh;
    font-weight: 500;
    text-align: left;
}

.value {
    display: inline-block;
    width: 65%;
    padding: 0.5vh 0;
    text-align: right;
}

.mid-section {}

.bottom-section {}

/*-----------------------------------------------Footer*/
.footer-links {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}

.footer-links-list {
    text-align: center;
    margin: 2vh 0;
    padding-left: 5vw;
}

.socials {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 4vh;
}

.socials .list-inline {
    margin: 2vh 0;
}

.copyright {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
}

.copyright .copyright-text {
    margin: 3.5vh 0;
}

/*-----------------------------------------------Keyframes and Media*/
@keyframes text-expand {
  0% {
    letter-spacing: 8px;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  65% {
    letter-spacing: 12px;
  }
  85% {
    opacity: 1;
  }
  100% {
    letter-spacing: 10px;
  }
}

@keyframes text-expand2 {
  0% {
    letter-spacing: 0px;
    opacity: 0;
  }
  50% {
    opacity: 0;
    letter-spacing: 0px;
  }
  75% {
    opacity: 0.5;
    letter-spacing: 1px;
  }
  85% {
    opacity: 1;
  }
  100% {
    letter-spacing: 0px;
  }
}

@keyframes imagefade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}